.card{
    background-color: white;
    color: black;
}
body{
    background-color: white;
}

.searchbar{
    color: white;
    background-color: orangered;
}
.sticky-offset {
    top: 12.5%;
}

.logindiv{
    /*background-color: lightgrey;*/
    color: black;
}

.bmi{
    background-color: lightgrey;
    color: black;
}

.logindiv label{
  font-size: 1.2rem;
}
p{
    text-align: justify; !important;
    display: inline;
}
.recipe{
    background-color: lightgrey;
    /*color: black;*/
}
/* ----------------------------------PROGRESS BAR STYLE-------------------------------------------------------------- */
.progress {
    width: 150px;
    height: 150px !important;
    float: left;
    line-height: 150px;
    background: none;
    margin: 20px;
    box-shadow: none;
    position: relative
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1
}

.progress .progress-left {
    left: 0
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.progress .progress-right {
    right: 0
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #000;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%
}

.progress.orange .progress-bar {
    border-color: orangered
}

.progress.orange .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg)
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
}

/* --------------------------------------------RATING WITH STARS------------------------------------------------------*/
.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    direction: rtl;
    text-align: left;
}

.star {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
}

.star:before {
    content: '\2605';
    width: 60px;
    height: 60px;
    font-size: 60px;
}

.star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star{
    transition: color 0.8s ease;
    color: gold;
}

/* --------------------------------------------DIET TYPES-------------------------------------------------------------*/
.dietrow{
    background-color: lightgrey;
}

/* -----------------------------------------PROGRESS BAR--------------------------------------------------------------*/
#progress-bar{
    display: inline-block;
    height: 15%; !important;
    background-color: lightgrey;
}

.help-block{
    color: #dd4b39;
}